
body{
    background-image: url("images/background2.jpg");
    font-family: 'Pokemon GB';
    
}
h4 {
    text-align: center;
    text-transform: capitalize;
}

h5 {
    text-align: center;
}
/* left side of pokedex */

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}



#left {
    display: inline-block;
    height: 500px;
    width: 400px;
    background-color: #5E0200;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: -4px;
    box-shadow: 5px 10px 18px black;
}

#left2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    height: 430px;
    width: 400px;
    background-color: #C0200D;
    margin-top: -88px;
    border-bottom-left-radius: 25px;
    /* border-top-left-radius: 25px; */
}


#poke-button {
    margin-left: 170px;   
}

#poke-button :hover {
    transform: scale(1.07);
    cursor: pointer;
  }


#left-button {
    margin-left: 142px;
}



#left-and-right-buttons {
    cursor: pointer;
}




#gottaCatchEmAll {
    height: 160px;
    width: 230px;
}








/* top buttons  */

#large-button {
    height: 60px;
    width: 60px;
    background: aquamarine;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 8px;
}

#small-red {
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    left: 100px;
    bottom: 40px;
}

#small-yellow {
    background-color: yellow;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    left: 140px;
    bottom: 70px;
}

#small-green {
    background-color: green;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    left: 180px;
    bottom: 100px;
}

#picBox {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-top: 30px;
    background: grey;
    border-radius: 25px;
    z-index: 1;
    box-shadow: 0 0 15px #003555 inset;
}

#picFrame {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    border: solid;
    border-color: black;
    background: white;
    border-radius: 25px;
    box-shadow: 0 0 15px #003555 inset;
}

#picFrame img {
    vertical-align: middle
}

#middle {
    width: 30px;
  height: 430px;
 
  margin-top: 70px;
  box-shadow: 5px 10px 18px black;
  background: linear-gradient(to right, #8B0000 0%, red 50%, #8B0000 100%);
}









/* right side of pokedex  */

#right {
    display: inline-block;
    height: 430px;
    width: 350px;
    background-color:  #C0200D;
    margin-top: 70px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 5px 10px 18px black;
}

#statsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 250px;
    background: limegreen;
    border: black 2px solid;
    border-radius: 25px; 
    margin-top: 50px;
    margin-left: 20px;
    font-family: 'Pokemon GB';
}

#statsBox-content {
    margin-top: 30px

}

#gif-placeholder {
    border-radius: 25px; 
    margin-top:-3px
}

#bootstrap-modal{
    margin-top:20px;
    margin-left: 500px;
}
/* 
#buttonWrapper {
    display: flex;
    flex-direction: row;
} */


 .blueButton {
    width: 30px;
    height: 20px;
    background: linear-gradient(#307BFB 0%, #0530E5 80%);
    margin-top: 10px;
    /* position: relative;
    float: left; */
    /* margin: 0px 8px 3px 2px; */
    border-radius: 5px;
   
}

 #row1  {
     margin-top: 20px;
     display: flex;
     flex-direction: row;
     /* justify-content: space-evenly;
     width: 300px */
} 

#row2 {
    display: flex;
     flex-direction: row;
}