#left {
    display: inline-block;
    height: 500px;
    width: 400px;
    background-color: #5E0200;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: -4px;
}

#left2 {
    display: inline-block;
    position: absolute;
    height: 430px;
    width: 400px;
    background-color: #C0200D;
    ;
    margin-top: -88px;
    border-bottom-left-radius: 25px;
    /* border-top-left-radius: 25px; */
}

/* top buttons  */

#large-button {
    height: 60px;
    width: 60px;
    background: aquamarine;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 8px;
}

#small-red {
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    left: 100px;
    bottom: 40px;
}

#small-yellow {
    background-color: yellow;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    left: 140px;
    bottom: 70px;
}

#small-green {
    background-color: green;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    left: 180px;
    bottom: 100px;
}

#right {
    display: inline-block;
    height: 430px;
    width: 350px;
    background-color: red;
    margin-top: 70px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#statsBox {
    width: 300px;
    height: 250px;
    background: limegreen;
    border: black 2px solid;
    border-radius: 20%;
    margin-top: 30px;
    margin-left: 20px
}

#picFrame {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    margin-left: 35px;
    margin-top: 30px;
    background: grey;
    border-radius: 25px;
    z-index: 1;
    /* box-shadow: 0 0 15px #003555 inset; */
}

#picFrame2 {
    width: 250px;
    height: 200px;
    background: white;
    border-radius: 25px;
}